<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="refFonction">
            <h2><span>Ref Fonction</span> {{refFonction.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Code</span></dt>
                <dd>
                    <span>{{refFonction.code}}</span>
                </dd>
                <dt><span>Code Zone</span></dt>
                <dd>
                    <span>{{refFonction.codeZone}}</span>
                </dd>
                <dt><span>Code Fonction</span></dt>
                <dd>
                    <span>{{refFonction.codeFonction}}</span>
                </dd>
                <dt><span>Libelle</span></dt>
                <dd>
                    <span>{{refFonction.libelle}}</span>
                </dd>
                <dt><span>Ref Type Fonction</span></dt>
                <dd>
                    <div *ngIf="refFonction.refTypeFonction">
                        <a [routerLink]="['/ref-type-fonction', refFonction.refTypeFonction?.id, 'view']">{{refFonction.refTypeFonction?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/ref-fonction', refFonction.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
