<div>
    <h2 id="page-heading">
        <span>Ref Matrice Fluxes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-ref-matrice-flux" [routerLink]="['/ref-matrice-flux/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Ref Matrice Flux
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="refMatriceFluxes">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="environnement"><span>Environnement</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="typeFlux"><span>Type Flux</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="sourceVlan"><span>Source Vlan</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="port"><span>Port</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="destVlan"><span>Dest Vlan</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="typeAuthorisation"><span>Type Authorisation</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="destVlanId"><span>Dest Vlan</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="sourceVlanId"><span>Source Vlan</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="typeAuthorisationId"><span>Type Authorisation</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let refMatriceFlux of refMatriceFluxes ;trackBy: trackId">
                <td><a [routerLink]="['/ref-matrice-flux', refMatriceFlux.id, 'view' ]">{{refMatriceFlux.id}}</a></td>
                <td>{{refMatriceFlux.environnement}}</td>
                <td>{{refMatriceFlux.typeFlux}}</td>
                <td>{{refMatriceFlux.sourceVlan}}</td>
                <td>{{refMatriceFlux.port}}</td>
                <td>{{refMatriceFlux.destVlan}}</td>
                <td>{{refMatriceFlux.typeAuthorisation}}</td>
                <td>
                    <div *ngIf="refMatriceFlux.destVlanId">
                        <a [routerLink]="['../ref-vlan', refMatriceFlux.destVlanId , 'view' ]" >{{refMatriceFlux.destVlanId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="refMatriceFlux.sourceVlanId">
                        <a [routerLink]="['../ref-vlan', refMatriceFlux.sourceVlanId , 'view' ]" >{{refMatriceFlux.sourceVlanId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="refMatriceFlux.typeAuthorisationId">
                        <a [routerLink]="['../ref-type-authorisation', refMatriceFlux.typeAuthorisationId , 'view' ]" >{{refMatriceFlux.typeAuthorisationId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/ref-matrice-flux', refMatriceFlux.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/ref-matrice-flux', refMatriceFlux.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'ref-matrice-flux', { outlets: { popup: refMatriceFlux.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="refMatriceFluxes && refMatriceFluxes.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
