<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="flux">
            <h2><span>Flux</span> {{flux.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Environnement</span></dt>
                <dd>
                    <span>{{flux.environnement}}</span>
                </dd>
                <dt><span>Type</span></dt>
                <dd>
                    <span>{{flux.type}}</span>
                </dd>
                <dt><span>Source IP</span></dt>
                <dd>
                    <span>{{flux.sourceIP}}</span>
                </dd>
                <dt><span>Source Port</span></dt>
                <dd>
                    <span>{{flux.sourcePort}}</span>
                </dd>
                <dt><span>Source Zone</span></dt>
                <dd>
                    <span>{{flux.sourceZone}}</span>
                </dd>
                <dt><span>Dest IP</span></dt>
                <dd>
                    <span>{{flux.destIP}}</span>
                </dd>
                <dt><span>Dest Port</span></dt>
                <dd>
                    <span>{{flux.destPort}}</span>
                </dd>
                <dt><span>Dest Zone</span></dt>
                <dd>
                    <span>{{flux.destZone}}</span>
                </dd>
                <dt><span>Ref Environnement</span></dt>
                <dd>
                    <div *ngIf="flux.refEnvironnementId">
                        <a [routerLink]="['/ref-environnement', flux.refEnvironnementId, 'view']">{{flux.refEnvironnementId}}</a>
                    </div>
                </dd>
                <dt><span>Ref Flux</span></dt>
                <dd>
                    <div *ngIf="flux.refFluxId">
                        <a [routerLink]="['/ref-flux', flux.refFluxId, 'view']">{{flux.refFluxId}}</a>
                    </div>
                </dd>
                <dt><span>Ref Zone</span></dt>
                <dd>
                    <div *ngIf="flux.refZoneId">
                        <a [routerLink]="['/ref-zone', flux.refZoneId, 'view']">{{flux.refZoneId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/flux', flux.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
