<div>
    <h2 id="page-heading">
        <span>Demande Fluxes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-demande-flux" [routerLink]="['/demande-flux/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Demande Flux
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="demandeFluxes">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="environnement"><span>Environnement</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="typeFlux"><span>Type Flux</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="sourceIP"><span>Source IP</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="sourcePort"><span>Source Port</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="sourceVlan"><span>Source Vlan</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="destIP"><span>Dest IP</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="destPort"><span>Dest Port</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="destVlan"><span>Dest Vlan</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="environnementId"><span>Environnement</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="destVlanId"><span>Dest Vlan</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="sourceVlanId"><span>Source Vlan</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="typeFluxId"><span>Type Flux</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let demandeFlux of demandeFluxes ;trackBy: trackId">
                <td><a [routerLink]="['/demande-flux', demandeFlux.id, 'view' ]">{{demandeFlux.id}}</a></td>
                <td>{{demandeFlux.environnement}}</td>
                <td>{{demandeFlux.typeFlux}}</td>
                <td>{{demandeFlux.sourceIP}}</td>
                <td>{{demandeFlux.sourcePort}}</td>
                <td>{{demandeFlux.sourceVlan}}</td>
                <td>{{demandeFlux.destIP}}</td>
                <td>{{demandeFlux.destPort}}</td>
                <td>{{demandeFlux.destVlan}}</td>
                <td>
                    <div *ngIf="demandeFlux.environnementId">
                        <a [routerLink]="['../ref-environement', demandeFlux.environnementId , 'view' ]" >{{demandeFlux.environnementId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="demandeFlux.destVlanId">
                        <a [routerLink]="['../ref-vlan', demandeFlux.destVlanId , 'view' ]" >{{demandeFlux.destVlanId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="demandeFlux.sourceVlanId">
                        <a [routerLink]="['../ref-vlan', demandeFlux.sourceVlanId , 'view' ]" >{{demandeFlux.sourceVlanId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="demandeFlux.typeFluxId">
                        <a [routerLink]="['../ref-type-flux', demandeFlux.typeFluxId , 'view' ]" >{{demandeFlux.typeFluxId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/demande-flux', demandeFlux.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/demande-flux', demandeFlux.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'demande-flux', { outlets: { popup: demandeFlux.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="demandeFluxes && demandeFluxes.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
